<!DOCTYPE html>
<html lang="tr" style="

background: black !important;">

<%- include ('./includes/Ui/header') %>


  
<main style="

background: white;">

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
   
    <div class="carousel-inner" style=" background: url('1.png  ') no-repeat center center fixed; 
   
    background-size: cover;">
      <div class="carousel-item active">
        <!-- <img src="https://cdn.pixabay.com/photo/2016/12/23/17/26/mosaic-1927645_960_720.jpg"  style="object-fit: cover !important;" alt="">  -->
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#f0ffff1f"/></svg>

        <div class="container">
          <div class="carousel-caption text-start" style="
          background: #eaeaeaeb;
          width: 100%;">
            <h1 style="
            background: linear-gradient( to right, #2d2d2b, #407164, #f958d3c7, #e6ecc0);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text; padding-left: 10px;" >Hoş Geldiniz.</h1>
            <p  class="text-dark" style="
           
            padding: 10px;
            border-radius: 10px; padding-left: 10px;">Türkiyenin Her yerine Hatayımıza özgü doğal yöresel ürünleri ulaştırıyoruz.</p>
            <p style="padding-left: 10px;"><a class="btn btn-lg btn-dark" href="products">Alışverie Başla</a></p>
          </div>
        </div>
      </div>
     
     
    </div>
   
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <main>
      <div class="container py-4">
       
    
        <div class="p-5 mb-4 bg-light rounded-3" style="     background: url('zeytin.png') no-repeat center center ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        ">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-dark" style="
            background: white;padding: 10px;
        ">RAHAT OLUN</h1>
            <p class="col-md-8 fs-4 bg-white" style="padding: 10px;">Zeytinlerimiz kalitleridir. Bakımları en iyi şekilde yapılmaktadır. Asit oranları düşüktür.</p>
            <button class="btn btn-primary btn-lg" type="button">Example button</button>
          </div>
        </div>
    
        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-warning rounded-3">
              <h2>Change the background</h2>
              <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
              <button class="btn btn-outline-light" type="button">Example button</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>Add borders</h2>
              <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
              <button class="btn btn-outline-secondary" type="button">Example button</button>
            </div>
          </div>
        </div>
    
        
      </div>
    </main>
    <!-- /.row -->
   
    <section class=" text-center container">
      <div class="row py-5 py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto"></div>
          <div id="app">
            <div id="wrapper">
              <!-- Make sure data-text equals the text you put inside the tags. -->
              <h1 class="fw-light glitch" data-text="
              HATAY YÖRESEL" style="
              /* font-size: 20px; */
              font-size: calc(1.375rem + 1.5vw);">HATAY YÖRESEL</h1>
             
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class=" text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">  Hatay'ın <span style="
            /* background: linear-gradient(45deg, black, #f0f3f6); */
            background: linear-gradient( to right, #4b91ea, #ff08c3, #5dcf23, #d48b3f);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        ">Rengarenk</span>  Sofrasın dan</h1>
            <h1 style="
            border-bottom: yellowgreen solid 7px;
        " class="fw-light">ÖNE ÇIKAN ÜRÜNLER</h1>
        
        </div>
      </div>
    </section>
  
    <div class="album  bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ffffff00" /><image href="https://cdn.pixabay.com/photo/2015/05/04/10/16/vegetables-752153_960_720.jpg" height="100%" width="100%"/></svg>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ffffff00"/><image href="https://cdn.pixabay.com/photo/2014/08/26/15/28/jam-428094_960_720.jpg" height="100%" width="100%"/></svg>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ffffff00"/><image href="https://cdn.pixabay.com/photo/2021/04/16/11/21/kunefe-6183327_960_720.jpg" height="100%" width="100%"/></svg>
  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Satın Al</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Sepete Ekle </button>
                  </div>
                  <small class="text-muted">30 TL</small>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-success">Sağlıklı </span>beslenmek <span class="text-danger">Herşeyden </span>   önemlidir. <span class="text-muted">Hayatnıza hemen kalite ekleyin.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
       <a href="products"><button class="btn btn-outline-secondary" type="button">Alışverişe Başla</button></a> 
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>  <rect width="100%" height="100%" fill="#ffffff00"/>  <image href="https://cdn.pixabay.com/photo/2015/05/04/10/16/vegetables-752153_960_720.jpg" height="100%" width="100%"/></svg>

      </div>
    </div>

    <hr class="featurette-divider">
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="https://www.kindpng.com/picc/m/448-4481063_logos-unesco-hd-png-download.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Hatay, </h1>
          <p class="lead">Yaklaşık 600' ün üzerinde yemek reçetesi bulunan Hatay mutfağının kendine has, hiçbir mutfakta bulunmayan, 
            200’ün üzerinde yemek reçetesine sahip olmasının yanı sıra bu reçeteleri oluşturan mitolojik hikayeleri, yemek 
            şiirleri, özdeyişleri ile gastronomiyle özdeşmiş ender şehirlerimizdendir (Hatay Valiliği, 2012).</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
           <a href="#hataybilgi"> <button type="button" id="dahafazla" onclick="dahaAz()" class="btn btn-primary btn-lg px-4 me-md-2">Daha Fazla</button></a>
         
          </div>
        </div>
      </div>
    </div>
  
    <div  id="hataybilgi" class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Ayrıca Hatay,<span class="text-muted"> 2017 yılında  Gastronomi Şehri unvanıyla UNESCO Yaratıcı Şehirler arasına girmiştir.</span></h2>
        <p class="lead">Yaklaşık 600' ün üzerinde yemek reçetesi bulunan Hatay mutfağının kendine has, hiçbir mutfakta bulunmayan, 
          200’ün üzerinde yemek reçetesine sahip olmasının yanı sıra bu reçeteleri oluşturan mitolojik hikayeleri, yemek 
          şiirleri, özdeyişleri ile gastronomiyle özdeşmiş ender şehirlerimizdendir (Hatay Valiliği, 2012).</p>
      </div>
      <div class="col-md-5 order-md-1">
        
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ffffff00"/><image href="https://www.kindpng.com/picc/m/448-4481063_logos-unesco-hd-png-download.png" height="100%" width="100%"/></svg>
        

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/> </svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <%- include ('./includes/Ui/footer') %>
</main>



      
<script>
  const dahafazla = document.getElementById('dahafazla')

  const hataybilgi=document.getElementById('hataybilgi')
  

  

  dahafazla.addEventListener('click',()=>{
    console.log('dahafazla')
    hataybilgi.classList.toggle('show')
    
      
  })
 
  function dahaAz() {
  var x = document.getElementById("dahafazla");
  if (x.innerHTML === "Daha Fazla") {
    x.innerHTML = "Daha Az";
  } else {
    x.innerHTML = "Daha Fazla";
    
  }
}
</script>

  </body>
</html>
